body{
    width:900px;
    margin:0 auto;
    position:relative;
    background-color:#E0E0E0;
    font-family:"Trebuchet MS";
}
#head1{
    font-size:2em;
    margin-top:0;
    letter-spacing:-1px;
}
span{
    color:#888888;
}
h2{
    margin-top:-19px;
    margin-right:20px;
    font-size:1.1em;
    color:#B8B8B8;
    text-align:right;
}
#sub1{
    font-size:1.32em;
    font-weight:900;
    letter-spacing:-0.1px;
    margin-top:47px;
}
#sub2{
    font-size:1.32em;
    font-weight:900;
    letter-spacing:-0.1px;
    margin-top:36px;
}
p{
    font-size:0.79em;
    letter-spacing:0.0001em;
    margin-top:-15px;
}
#main{
    position:relative;
    width:562px;
    height:450px;
    margin:0;
    margin-top:20px;
    margin-left:288px;
    background-color:white;
}
#header{
    position:relative;
}
#footer{
    position:relative;
    top:244px;
}
#section{
    position:relative;
    margin-top:-230px;
    width:532px;
    height:300px;
    left:10px;
}
#ul1{
    list-style-type:none;
    text-align:right;
    font-size:0.787em;
    margin: 0;
    margin-right:67px;
    margin-top:78px;
    padding:0;
}
.li1 {
    display: inline;
    color:#808080;
}
a{
    font-weight:bolder;
    letter-spacing:-0.1px;
    color:#787878;
}
#menu{
    position:relative;
    margin-top:-450px;
    margin-left:50px;
    height:200px;
    width:226px;
    background-color:white;
    float:left;
}
#sideheader{
    position:relative;
}
#sidefooter{
    position:relative;
    top:110px;
}
#section2{
    position:relative;
    margin-right:5px;
}
#head2{
    text-align: right;
    font-size:1.5em;
    letter-spacing:-0.5px;
    margin-right:15px;
    margin-top:-95px;
}
#ul2{
    list-style-type:none;
    text-align:right;
    margin: 0;
    margin-right:15px;
    margin-top:-10px;
    padding: 0;
}